@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

$crimson-font: 'Crimson Text', serif;

#nav {
    display: flex;
    flex-direction: row;


    img {
        width: 24px;
        height: 24px;
        margin-top: 10px;
    }

    p {
        margin: 10px;
        outline: none;
        font-family: $crimson-font;

        a {
            color: white;
            outline: none;
        }
    }
}